<footer class="footer">
	<div class="container">
		<div class="pages">
			<h3 class="section-title">Pages</h3>

			<div class="links-wrapper">
				<div class="left">
					<a href="">About</a>
					<a href="">Contact</a>
					<a href="">Features</a>
					<a href="">Technology</a>
				</div>

				<div class="right">
					<a href="">Whitepaper</a>
					<a href="">Team</a>
					<a href="">Disclaimer</a>
					<a href="">Terms and Conditions</a>
				</div>
			</div>
		</div>

		<div class="external-pages">
			<h3 class="section-title">External Pages</h3>

			<div class="links-wrapper">
				<a href="">PancakeSwap</a>
				<a href="">BscScan</a>
				<a href="https://coinmarketcap.com/" target="_blank" rel="noreferrer">CoinmerketCap</a>
				<a href="https://www.coingecko.com/" target="_blank" rel="noreferrer">CoinGecko</a>
			</div>
		</div>

		<div class="subscribe">
			<h3 class="section-sub-title">Subscribe to our newsletter</h3>
			<p class="text">The latest news, articles, and resources, sent to
				your inbox weekly</p>

			<div class="input-wrapper">
				<input type="text" placeholder="Your work email">
				<button class="btn btn-email">Get started</button>
			</div>
		</div>
	</div>

	<div class="social-links-wrapper">
		<a href="mailto:info@poollotto.finance.com" class="email-link">info@poollotto.finance.com</a>

		<div class="icons">
			<a href="https://medium.com/@info_3915" target="_blank"
			   rel="noopener" aria-label="link to Poolotto medium account" class="medium social-icon"></a>

			<a href="https://twitter.com/PoolottoF" target="_blank"
			   rel="noopener" aria-label="link to Poolotto twitter account" class="tw social-icon"></a>

			<a href="https://t.me/joinchat/FVxyIyug4kdhOTRk" target="_blank"
			   rel="noopener" aria-label="link to Poolotto telegram channel" class="teleg social-icon"></a>

			<a href="https://www.facebook.com/Poolotto-Finance-102115865464183" target="_blank"
			   rel="noopener" aria-label="link to Poolotto facebook account" class="fb social-icon"></a>
		</div>
	</div>
</footer>

<div class="bottom">
	<p>Poollotto.finance 2021 © All Rights Reserved.</p>
</div>
