@import "../../assets/styles/breakpoints.scss";

.first {
	height: 673px;
	min-height: 673px;
	background: url("/assets/images/background-main-768px.jpg") no-repeat center;

	@media ($large) {
		background: url("/assets/images/background-main-desktop.jpg") no-repeat center;
		height: 652px;
		min-height: 652px;
	}

	.inner-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 316px;
		margin: 0 auto;
		padding-top: 236px;
		padding-bottom: 63px;

		@media ($tablets) {
			width: 560px;
		}

		@media ($large) {
			width: 1170px;
			align-items: flex-start;
		}

		.title {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 269px;
			color: #fff;
			font-size: 60px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 68px;
			margin-bottom: 23px;

			@media ($tablets) {
				width: 100%;
				font-size: 80px;
				flex-wrap: nowrap;
				margin-bottom: 41px;
			}

			@media ($large) {
				font-size: 100px;
				margin-bottom: 32px;
				justify-content: flex-start;
			}

			p {
				display: inline-block;

				@media ($large) {
					margin-right: 10px;
				}

				&::first-letter {
					color: #fdcf3e;
				}

				&.last-yellow-letter {
					width: 100%;
					text-align: center;

					@media ($tablets) {
						width: unset;
					}
				}
			}
		}

		.sub-text {
			color: #fff;
			font-size: 24px;
			font-weight: 300;
			text-align: center;
			margin-bottom: 38px;

			@media ($tablets) {
				font-size: 36px;
				margin-bottom: 87px;
				font-weight: 300;
			}

			@media ($large) {
				font-size: 48px;
				margin-bottom: 85px;
			}
		}

		.controls {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media ($tablets) {
				flex-direction: row;
			}

			.btn {
				text-decoration: none;
			}
		}

		.btn-trade {
			height: 70px;
			width: 143px;
			background-color: #fdcf3e;
			color: #162983;
			font-size: 24px;
			font-weight: 900;
			letter-spacing: 0;
			border-radius: 50px;
			margin-bottom: 35px;

			@media ($tablets) {
				height: 70px;
				width: 195px;
				margin-bottom: unset;
				margin-right: 36px;
			}
		}

		.btn-view-all {
			height: 70px;
			width: 223px;
			background-color: #fff;
			color: #162983;
			font-size: 24px;
			font-weight: 900;
			letter-spacing: 0;
			line-height: 0;
			border-radius: 50px;

			@media ($tablets) {
				height: 70px;
				width: 307px;
			}
		}
	}
}

.second {
	height: 1056px;
	background-color: #f1f2f6;
	padding: 40px 20px;

	@media ($tablets) {
		height: unset;
	}

	.text {
		width: 325px;
		margin: 0 auto 40px;
		color: #162983;
		font-size: 24px;
		text-align: center;

		@media ($tablets) {
			width: 100%;
			font-size: 30px;
			margin-bottom: 57px;
		}

		@media ($large) {
			width: 810px;
			font-size: 37px;
			margin-bottom: 64px;
		}

		.bolder {
			font-weight: bold;
		}
	}

	.numbers-wrapper {
		display: flex;
		flex-direction: column;
		margin: 0 auto;

		@media ($tablets) {
			flex-direction: row;
			flex-wrap: wrap;
			width: 728px;
		}

		@media ($large) {
			width: 1170px;
		}
	}

	.numbers-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 204px;
		width: 340px;
		background-color: #fff;
		border-radius: 20px;
		margin: 0 auto 20px;

		@media ($tablets) {
			height: 204px;
			width: 354px;
		}

		@media ($large) {
			height: 204px;
			width: 370px;
			margin-bottom: unset;
		}

		&:last-child {
			margin-top: 26px;

			@media ($large) {
				margin-top: unset;
			}
		}

		.title {
			opacity: 0.5;
			color: #010101;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 20px;
			text-transform: uppercase;

			@media ($tablets) {
				font-size: 24px;
			}
		}

		.digits {
			color: #162983;
			font-size: 44px;
			font-weight: bold;

			@media ($tablets) {
				font-size: 46px;
			}
		}
	}

	.btn-coming-soon {
		height: 70px;
		width: 242px;
		background-color: #fdcf3e;
		color: #162983;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin: 34px auto;
		border-radius: 40px;

		@media ($tablets) {
			margin: 61px auto 41px;
		}
	}
}

.third {
	height: 747px;
	background-color: #fff;

	@media ($tablets) {
		height: unset;
	}

	.inner-wraper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media ($tablets) {
			width: 728px;
			margin: auto;
			padding: 103px 0 93px;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		@media ($large) {
			width: 1170px;
			padding: 131px 0 121px;
		}
	}

	.icon-one {
		width: 105px;
		height: 105px;
		min-width: 105px;
		min-height: 105px;
		background: url("/assets/images/p-icon-1.png") no-repeat;
		margin: 67px 0 26px;
	}

	.icon-two {
		width: 124px;
		height: 90px;
		min-width: 124px;
		min-height: 90px;
		background: url("/assets/images/p-icon-2.png") no-repeat;
		margin-bottom: 26px;
	}

	.icon-one,
	.icon-two {
		@media ($tablets) {
			margin: 0 30px 0 0;
		}
	}

	.info-one,
	.info-two {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 334px;

		@media ($tablets) {
			flex-direction: row;
			align-items: flex-start;
			width: 48%;
		}

		p {
			color: #010101;
			font-size: 18px;
			text-align: center;
			margin-bottom: 66px;
			letter-spacing: 0;
			line-height: 24px;

			@media ($tablets) {
				margin-bottom: unset;
				text-align: left;
			}
		}
	}
}

.fourth {
	height: 1180px;
	background-color: #f1f2f6;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media ($tablets) {
		padding: 103px 0 106px;
		height: unset;
	}

	@media ($large) {
		padding: 107px 0 103px;
	}

	.title {
		width: 250px;
		margin: 73px 0 29px;

		@media ($tablets) {
			width: unset;
			margin: 0 0 27px;
		}
	}

	.decor {
		margin-bottom: 67px;
	}

	.img-wrapper {
		@media ($large) {
			display: flex;
			margin-top: 44px;
		}
	}

	.swap-image {
		background: url("/assets/images/swap-image.png") no-repeat;
		background-size: contain;
		height: 394px;
		width: 339px;
		margin-bottom: 66px;

		@media ($tablets) {
			margin-bottom: 101px;
		}

		@media ($large) {
			margin-bottom: unset;
			margin-right: 32px;
			height: 507px;
			width: 437px;
		}
	}

	.liq-image {
		background: url("/assets/images/liq-image.png") no-repeat;
		background-size: contain;
		height: 407px;
		width: 339px;

		@media ($large) {
			height: 524px;
			width: 436px;
		}
	}
}

.fifth {
	background-color: #fff;
	padding: 70px 28px 0;

	@media ($tablets) {
		padding: 144px 0 0;
	}

	@media ($large) {
		padding: 86px 0 23px;
	}

	.inner-wrapper {
		width: 324px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media ($tablets) {
			width: 728px;
		}

		@media ($large) {
			width: 1170px;
		}

		.title {
			margin-bottom: 30px;

			@media ($tablets) {
				margin-bottom: 27px;
			}

			@media ($large) {
				margin-bottom: 26px;
			}
		}

		.decor {
			margin-bottom: 39px;

			@media ($tablets) {
				margin-bottom: 47px;
			}
		}

		.text {
			color: #162983;
			font-size: 24px;
			font-weight: 300;
			text-align: center;
			margin-bottom: 42px;

			@media ($tablets) {
				margin-bottom: 66px;
				font-size: 24px;
			}

			@media ($large) {
				margin-bottom: 78px;
				font-size: 30px;
			}
		}

		ul {
			list-style: none;
			margin-bottom: 69px;

			@media ($tablets) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-bottom: unset;
			}

			li {
				margin-bottom: 44px;

				@media ($tablets) {
					width: 333px;
					margin-bottom: 55px;
				}

				@media ($large) {
					width: 310px;
					margin-bottom: 59px;
				}

				h3 {
					display: flex;
					align-items: center;
					color: #162983;
					font-size: 22px;
					font-weight: bold;
					margin-bottom: 14px;

					&::before {
						content: "";
						display: inline-block;
						background: url("/assets/icons/list-icon.svg") no-repeat;
						height: 40px;
						width: 40px;
						margin-right: 9px;
					}
				}

				&:nth-of-type(2) {
					h3 {
						&::before {
							background: url("/assets/icons/transparancy.svg") no-repeat;
						}
					}
				}

				&:nth-of-type(3) {
					h3 {
						&::before {
							background: url("/assets/icons/fairness.svg") no-repeat;
						}
					}
				}

				&:nth-of-type(4) {
					h3 {
						&::before {
							background: url("/assets/icons/fast.svg") no-repeat;
						}
					}
				}

				&:nth-of-type(5) {
					h3 {
						&::before {
							background: url("/assets/icons/prof.svg") no-repeat;
						}
					}
				}

				&:nth-of-type(6) {
					h3 {
						&::before {
							background: url("/assets/icons/liq.svg") no-repeat;
						}
					}
				}

				&:nth-of-type(7) {
					h3 {
						&::before {
							background: url("/assets/icons/odds.svg") no-repeat;
						}
					}
				}

				p {
					color: #010101;
					font-size: 14px;
				}
			}
		}
	}
}

.decor {
	height: 3px;
	width: 100px;
	background-color: #fdcf3e;
	margin-bottom: 23px;
}

.title {
	color: #162983;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

	@media ($tablets) {
		font-size: 46px;
	}

	@media ($large) {
		font-size: 50px;
	}
}
