<section class="first">
	<div class="inner-wrapper">
		<h1 class="title">
			<p>Pool</p>
			<p>Lotto</p>
			<p class="last-yellow-letter">Token</p>
		</h1>
		<p class="sub-text">Social Pool Blockchain Lottery</p>

		<div class="controls">
			<a
				class="btn btn-trade"
				href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x631c2f0edabac799f07550aee4ff0bf7fd35212b"
				target="_blank"
				rel="noopener">
				Trade
			</a>
			<a
				class="btn btn-view-all"
				href="https://bscscan.com/token/0x631c2f0edabac799f07550aee4ff0bf7fd35212b"
				target="_blank"
				rel="noopener">
				View all BscScan
			</a>
		</div>
	</div>
</section>

<section class="second">
	<p class="text">
		<span class="bolder">PLT</span> (pool lotto token)
		<br>
		Smart contract on the blockchain network for
		non-centralized management of a global
		social lottery pool
	</p>

	<div class="numbers-wrapper inner-wrapper">
		<div class="numbers-block price">
			<p class="title">Price</p>
			<div class="decor"></div>
			<p class="digits">$0.578402435</p>
		</div>

		<div class="numbers-block volume">
			<p class="title">Volume</p>
			<div class="decor"></div>
			<p class="digits">$12.14K</p>
		</div>

		<div class="numbers-block cap">
			<p class="title">FULLY DILUTED MARKET CAP</p>
			<div class="decor"></div>
			<p class="digits">$204,880,000</p>
		</div>
	</div>

	<button class="btn btn-coming-soon">Coming soon</button>
</section>

<section class="third">
	<div class="inner-wraper">
		<div class="info-one">
			<div class="icon-one"></div>
			<p>PLT utilizes a smart contract system based on blockchain technology, that allows for the safest
				transference of payments.
				PLT as a digital currency, can be transferred instantaneously using this system, and safely, among
				community members</p>
		</div>
		<div class="info-two">
			<div class="icon-two"></div>
			<p>
				The advantage of using PLT in the eco-system is its immediacy.
				With the implementation of this token into our constantly updating system we can ensure a delay-free
				gaming experience
			</p>
		</div>
	</div>
</section>

<section class="fourth">
	<h2 class="title">How to Swap and Liquidity</h2>
	<div class="decor"></div>

	<div class="img-wrapper">
		<div class="swap-image"></div>
		<div class="liq-image"></div>
	</div>
</section>

<section class="fifth">
	<div class="inner-wrapper">
		<h2 class="title">Most Advanced Technology</h2>
		<div class="decor"></div>

		<p class="text">We joined one of the most advanced technologies that exist today, along with the expertise of
			the POOLOTTO team to create a unique, dynamic, innovative and exciting social product.</p>

		<ul>
			<li>
				<h3>Social</h3>
				<p>PLT was developed by sports and gaming fans for the sports and gaming community.
					PLT — is a social, fun and exciting game in which the odds of winning are created by the
					activity of
					the
					user community — without any third party intervention. The money in the jackpot is distributed
					among
					all
					those who selected the correct number.
				</p>
			</li>
			<li>
				<h3>Transparency</h3>
				<p> What you see is what you get. We use smart contracts, so every player knows exactly
					what they are getting into. Users know exactly what the value of the prize is. Every action
					affects
					the
					amount of money in the jackpot and the odds of winning dynamically and immediately. Every action
					is
					carried out in a way that is transparent and clear to all members of the community. The
					information
					is
					available, transparent and clear to all members of the community and easy to access.
				</p>
			</li>
			<li>
				<h3>Fairness</h3>
				<p>PLT uses smart contracts on the blockchain network, without any third party involvement, and with
					no
					fine print. The bets on PLT are only among the members of the user community — without any third
					party involvement.
					The only thing left to do is to enjoy the fun and get what you deserve</p>
			</li>
			<li>
				<h3>Fast and Easy</h3>
				<p>
					Smart contracts mean automatic and instant payouts. A quick, easy-going and fun game.
					There is a winner for every round.
					Did you select the winning number?
					Congratulations! You get your prize. Simple as that.


				</p>
			</li>
			<li>
				<h3>Professionalism</h3>
				<p>PLT was created by a team of people who specialize in the sports world, and who have great love
					and
					passion for the world of sports and gaming</p>
			</li>
			<li>
				<h3>Liquidity</h3>
				<p>When you earn your PLT, you can use it instantly. There are no holdouts, no preconditions, and no
					fine print. Just your prize earnings

				</p>
			</li>
			<li>
				<h3>Better Odds</h3>
				<p>Due to the fact that the house is not involved, the stakes can be placed towards the players
					themselves. In ed only on user activity</p>
			</li>
		</ul>
	</div>
</section>
