.header {
	height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;

	.logo-wrapper {
		.title {
			width: 101px;
			color: #162983;
			font-size: 25px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 23px;
		}
	}

	.connect-wallet {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 64px;
		width: 102px;
		background-color: #162983;
		background: linear-gradient(270deg, #183197 0%, #00aeff 100%);

		color: #fff;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
	}
}
