@import '../../assets/styles/breakpoints.scss';

.header {
	height: 80px;
	background-color: #fff;
	padding: 0 20px;

	.container {
		justify-content: space-between;
		flex-direction: row;
			align-items: center;
	}

	.logo-wrapper {
		.title {
			width: 101px;
			color: #162983;
			font-size: 25px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 23px;

			@media($large) {
				font-size: 32px;
				width: unset;
			}
		}
	}

	.connect-wallet {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 64px;
		width: 102px;
		background-color: #162983;
		background: linear-gradient(270deg, #183197 0%, #00aeff 100%);

		color: #fff;
		font-size: 18px;
		font-weight: bold;

		@media($large) {
			height: 50px;
			width: 204px;
		}
	}
}
